doctype html
html
	head(lang="ko")
		title shawn's dev log
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	body
		h1="test-cors->" + page
		#target
		script(src="/" + page + ".js")